{% if values|length > 0 %}{% spaceless %}
  {% autoescape false %}
    {% set output = '' %}

    {% set valueStr = '' %}
    {% for value in values %}
      {% set valueStr = valueStr ~ value|join(' ')|striptags %}
    {% endfor %}

    {% if values|length > 2 %}
      {% if separator in valueStr %}
        {% set delimiter = ';' %}
      {% else %}
        {% set delimiter = separator %}
      {% endif %}
    {% else %}
      {% set delimiter = '' %}
    {% endif %}

    {% set filteredValues = [] %}

    {% for key,value in values %}
      {% set word %}{{ eval(wordUnit) }}{% endset %}
      {% if word != '' %}
        {% set filteredValues = filteredValues|merge([word]) %}
      {% endif %}
    {% endfor %}

    {% set id = 0 %}
    {% for word in filteredValues %}
      {% if loop.first %}
        {% set delimiterToUse = '' %}
      {% elseif loop.last %}
        {% if endWord == '' %}
          {% set endWordToUse = '' %}
        {% else %}
          {% set endWordToUse = ' ' ~ endWord %}
        {% endif %}
        {% set delimiterToUse = delimiter ~ endWordToUse ~ ' ' %}
      {% else %}
        {% set delimiterToUse = delimiter ~ ' ' %}
      {% endif %}

      {% if (max != 0 and max != loop.length and ((max == 1 and loop.index0 == max) or (max > 1 and max == loop.index))) %}
        {% if max == 1 or max == 2 %}
          {% set moreDelimiterToUse = 'and ' %}
        {% else %}
          {% set moreDelimiterToUse = delimiterToUse ~ 'and ' %}
        {% endif %}
        {% set id = random() %}
        {% set output %}{{ output }}<span class="{{ id }}"><small><a href="#" class="doToggle" rel="span.{{ id }}">{{ moreDelimiterToUse }}more</a></small></span><span class="nodisplay {{ id }}">{% endset %}
      {% endif %}

      {% set output = output ~ delimiterToUse ~ word %}

    {% endfor %}

    {% if id != 0 %}
      {% set output %}{{ output }} <small><a href="#" class="doToggle" rel="span.{{ id }}">less</a></small></span>
      {% endset %}
    {% endif %}

    {{ output }}
  {% endautoescape %}
{% endspaceless %}{% endif %}